#button{
  border:none;
  color:#fff;
  font-weight:bold;
  background:#225378;
  flex-grow: 0;
  background: linear-gradient(90deg,#225378 0%, #1595A3 100%);
}

#button:hover{
  background:#1595A3;
  background: linear-gradient(90deg, #1595A3 0%,#1595A3 100%);
}
#textButton{
  border:none;
  background:#fff;
}
.btn-big{
  padding: 20px 100px;
  margin:10px;
  border-radius: 30px;
}
.btn-normal{
  padding: 10px 20px;
  margin:10px;
  border-radius: 20px;
}
