#form{
  background-color:#fff;
  border-radius: 20px;
  padding:20px 50px;
  border: 1px solid #494949;
  width:30%;
}

#form-content{
  display:flex;
  flex-direction:column;
  
}
#form-content label{
 margin-top:10px;
 font-size: 12px;
}

#title{
  display:flex;
  align-self: center;
}
